@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000" style="margin-bottom: 200px; margin-top:20px">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

        <div class="item active">
            <img src="~/images/put.jpg" alt="ASP.NET" class="img-responsive" width="100%" style="margin-top : -500px; margin-right: -50px; margin-bottom:-10px"  />
            <div class="carousel-caption" role="option">
                <h1 style="color : black">
                    Selamat Datang di Website Sistem Informasi Rental Kendaraan
                </h1>
                <p style="color : black">
                    Website ini berguna untuk toko dalam melakukan aktifitas rental kendaraan motor dan mobil.

                </p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409" style="background-color :cornflowerblue; color:white">
                    Learn More
                </a>
            </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Barang Bagus</h2>
            <p>Barang terbagus</p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">Learn More</a>
    </div>
    <div class="col-md-4">
        <h2>Murah</h2>
            <p>Murah Meriah Pokoknyas</p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">Learn More</a>
    </div>
    <div class="col-md-4">
        <h2>Keren dan Terbaru</h2>
            <p>Keren dan terbaru yang pastinyas</p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">Learn More</a>
    </div>
</div>
